<img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Turmas/2021.3/Imagens/sep.png?raw=true"  width=1000 height=125 />

# Professoras

 - Amanda Lemette 
	 - prof.amanda@ica.ele.puc-rio.br
	 - [Linkedin](https://www.linkedin.com/in/amanda-lemette-brand%C3%A3o-83280918b)
   - [Youtube](https://www.youtube.com/c/AmandaLemette/featured)
   
 - Júlia Potratz
	 - prof.julia@ica.ele.puc-rio.br
	 - [Linkedin](https://www.linkedin.com/in/julia-potratz)
     
# Material 

Repositório no GitHub: [Python_BI_Master](https://github.com/jupotratz/Python_BI_Master)


# Talk 2

- **Plano de aula:**
	- Lista + tupla
         - acrescentar valores (append, insert e extend)
         - remover valores (remove, pop)
         - selecionar valores dentro da lista (indexação)
         - verificar existencia de um elemento na lista 
         - ordenar listas
         - extra(verificar valores unicos dentro de uma lista - *SET*) 

  - Loops
      - for  
          - caracteristicas do print( )
          - usando lista, range, enumerate, zip (tentar associar a alguma coisa real)

      - while
          - sintaxe
          - break, pass e continue

<img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Turmas/2021.3/Imagens/sep.png?raw=true"  width=1000 height=125 />

## Problema proposto

Daniel é dono de um mercadinho e com a pandemia do COVID 19 teve a necessidade de fazer uma adaptação no seu modelo de negócio e passar a oferecer compras online para os seus clientes. Para isso ele teve que investir tempo e dinheiro para a criação de um sistema para os seus clientes gerenciarem as suas compras em termos de valor, quantidade e produtos que estão sendo colocados no carrinho. Esses sistema tem o objetivo de informar um resumo do que está sendo comprado pelos clientes e deve permitir que a gente consiga acrescentar novos produtos, remover produtos e pesquisar os produtos que já estão no carrinho, caso seja necessário. 

### Características do problema
- Temos que armazenar as informações dos produtos, quantidades e valores em algum lugar.
- O usuário deve poder fazer a inserção e remoção de algum produto.
- O usuário também tem que conseguir verificar se já existe um produto específico no carrinho (conferir se não esqueceu de nada).

### Solução

- Como poderíamos fazer isso em Python?

- Com o que sabemos até agora vocês acham que é possível realizar todos esses procedimentos?
  - Operadores (aritméticos, relacionais, lógicos)
  - Dados inteiros
  - Dados reais
  - Estruturas condicionais

<center><img src="https://dicasdamaia.files.wordpress.com/2017/12/duvida.png?w=190" width=200 ><center>

# Listas

Forma simples de interligar os elementos de um conjunto.
- Agrupa informações referentes a um conjunto de elementos que se relacionam entre si de alguma forma.
- Inúmeros tipos de dados podem ser representados
por listas. Alguns exemplos de sistemas de
informação são: 
  - Informações sobre os funcionários
de uma empresa
  - Notas de alunos
  - Itens de estoque
  - etc.
- As listas podem armazenar um número **variável** de elementos, ou seja, o seu tamanho pode ser modificado.
- Podemos acessar um elemento desse conjunto de dados por meio de um **índice** que representa a sua posição na lista.

<img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Turmas/2021.3/Imagens/sep.png?raw=true"  width=1000 height=125 />

# Listas
---

## Definindo uma lista

<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Turmas/2021.3/Imagens/lista_definindo.JPG?raw=true" width=400><center>

Vamos definir as listas representadas na imagem acima e verificar o typo de cada uma das variáveis:

In [ ]:
lista = [10, 11, 12, 13, 14, 15]
notas = [10, 9.5, 5, 7.2, 8.7]
vazio = []
outra_lista_vazia = list()

In [ ]:
(lista)

[10, 11, 12, 13, 14, 15]

In [ ]:
type(notas)

list

In [ ]:
type(vazio)

list

In [ ]:
type(outra_lista_vazia)

## Acessando um elemento ou mais da lista

Para acessar informações em tipos de dados que guardam doi ou mais elementos temos e=que entender como funciona a indexação no Python, ou seja, qual o **index numérico** de cada elemento.



<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Turmas/2021.3/Imagens/lista_indices.JPG?raw=true" width=650><center>

In [ ]:
lista = [10, 11, 12, 13, 14, 15]
print(lista)

[10, 11, 12, 13, 14, 15]

- Vamos acessar o elemento 11 da nossa lista

In [ ]:
# Indice positivo
lista[1]

11

In [ ]:
# Indice negativo
lista[-5]

11

- Vamos supor que agora a gente queira acessar um pedação da minha lista, por exemplo do primeiro elemento até o terceiro, como faríamos isso?

<center><img src="https://dicasdamaia.files.wordpress.com/2017/12/duvida.png?w=190"><center>

- Vamos entender como selecionar fatias das nossas listas:

<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Turmas/2021.3/Imagens/indexa%C3%A7%C3%A3o_lista.JPG?raw=true" width=600><center>

In [ ]:
lista = [10, 11, 12, 13, 14, 15]
print(lista)

[10, 11, 12, 13, 14, 15]

- Vamos selecionar do 1º ao terceiro elemento da lista

In [ ]:
lista[:3]

[10, 11, 12]

- Vamos selecionar os 3 últimos elementos da lista

In [ ]:
lista[-3:]

[13, 14, 15]

In [ ]:
lista[len(lista)-3:]

[13, 14, 15]

- E se eu quisesse selecionar os dois primeiros e os dois ultimos e criar uma nova lista com eles? Como fazer?

In [ ]:
lista[:2] + lista[-2:]

[10, 11, 14, 15]

## Acrescentando valores em uma lista

Uma grande vantagem desse tipo de dado é que podemos criar uma lista e acrescentar novos dados quando for necessário. Existem algumas formas de fazer isso, são elas

<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Turmas/2021.3/Imagens/listaxappendxextend.JPG?raw=true" width=750><center>



Sendo a variável lista que guarda a nossa sequência de dados, vamos ver na prática o que cada um desses métodos de lista fazem:

### lista.append( )

- O método <code>.append( )</code> realiza o processo de anexar um novo elemento ao <code>final</code> de uma <code>lista</code>.

<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Turmas/2021.3/Imagens/append.JPG?raw=true" width=650><center>

In [ ]:
lista = [8, 5, 12, 20, 14]
print(lista)

[8, 5, 12, 20, 14]

In [ ]:
value = 16
lista.append(value)

In [ ]:
print(lista)

[8, 5, 12, 20, 14, 16]

### lista.insert( )

- O método <code>.insert( )</code> realiza o processo de inserir um novo elemento ao <code>em qualquer posição</code> de uma <code>lista</code>.

<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Turmas/2021.3/Imagens/insert2.JPG?raw=true" width=650><center>

In [ ]:
lista = [8, 5, 12, 20, 14]
print(lista)

[8, 5, 12, 20, 14]

In [ ]:
value = 16
position = 3
lista.insert(position, value)

In [ ]:
print(lista)

[8, 5, 12, 16, 20, 14]

### lista.extend( )

- O método <code>.extend( )</code> realiza o processo de inserir um novo conjunto de elementos ao <code>final</code> de uma <code>lista</code>.

<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Turmas/2021.3/Imagens/extend.JPG?raw=true" width=650><center>

In [ ]:
lista = [8, 5, 12, 20, 14]
print(lista)

In [ ]:
value = (16,50)
lista.extend(value)

In [ ]:
print(lista)

[8, 5, 12, 16, 20, 14, 16, 50]

- Nesse caso adicionamos uma tupla (elementos envoltos de parenteses separados por vírgulas). Mas também poderiamos usar outra lista.

In [ ]:
lista = [8, 5, 12, 20, 14]
print(lista)

In [ ]:
value = [16,50]
lista.extend(value)

In [ ]:
print(lista)

## Acrescentando valores em uma lista

Assim como podemos acrescentar valores as nossas listas, também podemos remover. Existem algumas formas de fazer isso, são elas

<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Turmas/2021.3/Imagens/remove_list.JPG?raw=true" width=750><center>



Sendo a variável lista que guarda a nossa sequência de dados, vamos ver na prática o que cada um desses métodos de lista fazem:

### lista.remove( )

- O método <code>.remove( )</code> realiza o processo de remover a <code>primeira ocorrência</code> de um elemento dentro de uma <code>lista</code>.

<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Turmas/2021.3/Imagens/remove.JPG?raw=true" width=650><center>

In [ ]:
lista = [10, 11,10, 10, 14, 20]
print(lista)

[10, 11, 10, 10, 14, 20]

In [ ]:
value = 10
lista.remove(value)

In [ ]:
print(lista)

[11, 10, 10, 14, 20]

### lista.pop( )

- O método <code>.pop( )</code> realiza o processo de remover um elemento de índice <code>i</code> de uma <code>lista</code>. Esse índice tem que ser passado como argumento essa função.

<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Turmas/2021.3/Imagens/pop.JPG?raw=true" width=650><center>

In [ ]:
lista = [10, 11,10, 10, 14, 20]
print(lista)

[10, 11, 10, 10, 14, 20]

In [ ]:
index = 1
lista.pop(index)

11

In [ ]:
print(lista)

[10, 10, 10, 14, 20]

## Criando uma lista a partir de duas.

- Vimos que podemos utilizar o extend para ampliar a nossa lista, acrescentando todos os valores de uma segunda lista através do método <code>.extend( )</code>. Existe um outro procedimento que pode ser realizado chamado de concatenação entre duas listas e se dá através da operação de soma. 

<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Turmas/2021.3/Imagens/concatenar.JPG?raw=true" width=650><center>

In [ ]:
Lista_1 = [10, 11, 12]
Lista_2 = [0, 1, 2]

In [ ]:
Lista_1 + Lista_2

[10, 11, 12, 0, 1, 2]

In [ ]:
Lista_2 + Lista_1

[0, 1, 2, 10, 11, 12]

Observação: Existe uma diferença muito grande quando utilizamos o .extend( )

In [ ]:
print(Lista_1)
print(Lista_2)

[10, 11, 12]
[0, 1, 2]

In [ ]:
# Usando o extend

Lista_1.extend(Lista_2)

In [ ]:
print(Lista_1)
print(Lista_2)

[10, 11, 12, 0, 1, 2]
[0, 1, 2]

## Replicando uma lista.

- Nós podemos replicar o conteúdo de uma lista quantas vezes for necessário apenas aplicando uma operação de multiplicação.

- Vale salientar que se o conteúdo da sua lista for numérico o Python **NÃO** vai multiplicar elemento a elemento por valor escalar (a estrutura de dado que realiza isso é conhecida como *vetor*)

<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Turmas/2021.3/Imagens/replicar.JPG?raw=true" width=650><center>

In [ ]:
Lista_1 = [10, 11, 12]

In [ ]:
Lista_1*2

[10, 11, 12, 10, 11, 12]

In [ ]:
Lista_1*3

[10, 11, 12, 10, 11, 12, 10, 11, 12]

### Contagem e verificação de um determinado elemento dentro de uma lista

- Algumas vezes precisamos saber a recorrência ou existência de um elemento dentro de um conjunto de dados, como por exemplo as listas. Para isso podemos utilizar algumas funções úteis como os métodos .index( ) e .count( ).

### lista.index( )

- O método <code>.index(arg)</code> retorna o index de um determinado elemento dento de uma lista, mas ele retorna um erro caso aquele elemento não exista naquele conjunto de valores. Portanto, é um método pouco eficiente. 

<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Turmas/2021.3/Imagens/count_list.JPG?raw=true" width=650><center>

In [ ]:
lista = [10, 11,10, 10, 14, 20]
print(lista)

[10, 11, 10, 10, 14, 20]

In [ ]:
value = 10
resultado = lista.index(value)

In [ ]:
print(resultado)

0

- Mas se eu tentar encontrar o index de um elemento que não pertence a lista o que acontece?

In [ ]:
lista.index(15)

ValueError: ignored

### lista.count( )

- O método <code>.count(arg)</code> realiza uma contagem da quantidade de vezes que um determinado valor (<code>arg</code>) aparece naquele conjunto de dados.

<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Turmas/2021.3/Imagens/contagem_lista.JPG?raw=true" width=650><center>

- Primeiro teste

In [ ]:
lista = [10, 11,10, 10, 14, 20]
print(lista)

[10, 11, 10, 10, 14, 20]

In [ ]:
value = 10
resultado = lista.count(value)

In [ ]:
print(resultado)

3

- Segundo teste

In [ ]:
value = 15
resultado = lista.count(value)

In [ ]:
print(resultado)

0

# Tuplas
---

Assim como as listas as tuplas são  conjuntos de valores, que podem receber elementos de quaisquer tipos e são acessados por meio dos conceitos de indexação já aprendidos. 

O que diferencia um dado tipo <code>list</code> de um dado tipo <code>tuple</code>, além da forma de definir esses tipos de dados é a questão da imutalidade do dado. Uma lista pode ser alterada depois de definida, uma tupla não.



## Definição de uma tupla

<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Turmas/2021.3/Imagens/tuple.JPG?raw=true" width=450><center>

In [ ]:
tupla = (10, 11,10, 10, 14, 20)
print(tupla)

(10, 11, 10, 10, 14, 20)

In [ ]:
type(tupla)

tuple

In [ ]:
tupla

Como uma tupla se assemelha a uma lista, mas ela é um tipo de dado incapaz de ser alterado existem apenas dois metodos para esse tipo de dado que são <code>.count()</code> e <code>.index()</code>. Esses  métodos funcionam exatamente igual ao observado nas listas.

In [ ]:
tupla.count(10)

3

In [ ]:
tupla.index(10)

0

- Vamos tentar adicionar um valor a tupla

In [ ]:
tupla.append(16)

AttributeError: ignored

- Porém, conseguimos gerar novas tuplas concatenando ou replicando tuplas já existentes.

In [ ]:
t1 = (1,2,3)
t2 = (4,5,6)

In [ ]:
t1+t2

(1, 2, 3, 4, 5, 6)

In [ ]:
type(t1+t2)

tuple

In [ ]:
print(t1)
print(t2)

(1, 2, 3)
(4, 5, 6)

# Repetição

---
Uma das principais características que consolidaram o sucesso na utilização dos computadores para a resolução de problemas foi a sua capacidade de repetir o processamento de um conjunto de operações para grandes quantidades de dados. Exemplos de conjuntos de tarefas que repetimos diversas vezes dentro de uma situação específica podem ser observados largamente no nosso dia a dia.

As estruturas de repetição provém uma maneira de repetir um conjunto de procedimentos até que determinado objetivo seja atingido, quando a repetição se encerra. Todas as estruturas de repetição têm em comum o fato de haver uma condição de controle, expressa através de uma expressão lógica, que é testada em cada ciclo para determinar se a repetição prossegue ou não.

Em python, são utilizadas dois tipos de estrutura condicional:

- FOR
- WHILE


Vamos explorar um pouco cada uma delas...

## for

- O bloco de repetição <code>for</code> normalmente é utilizado quando temos número fixo de repetições, ou seja, sabemos quantas vezes o bloco de comandos determinado deve ser executado, se utiliza uma lista para se iterar a repetição. Algumas indicações de que podemos usar o for:

  - Existência de uma sequência de valores

<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Turmas/2021.3/Imagens/for.JPG?raw=true" width=900><center>

- Para facilitar o entendimento das estruturas, vamos importar uma biblioteca para controlar o tempo de execução do código chamada time.

```
import time
```

- Iremos utilizar a função <code>.sleep()</code> dessa biblioteca, na qual passamos como arqgumento o tempo em segundos que queremos paralizar a execução do código.

In [ ]:
import time

## Lista | Tupla | Vetor | Serie

In [ ]:
lista = [1,2,3,4,5,6,7,8,9,10]

- Vamos inverter a lista para podermo entender melhor o que está acontecendo. Para isso podemos utilizar uma notação do python muito simples para inverter sequências de valores.

```
lista = lista[::-1]
```

In [ ]:
lista = lista[::-1]
print(lista)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

- Com a estrutura de repetição for vamos percorrer a nossa lista e multiplicar cada valor da lista por 3 e mostrar os resultados na tela.

In [ ]:
for elemento in lista:
    time.sleep(2)
    print(elemento*3)

30
27
24
21
18
15
12
9
6
3

- Com a estrutura de repetição for vamos percorrer a nossa tupla de valores e mostrar para o usuário apenas os valores que são pares.

In [ ]:
tupla = (10,11,34,76,35,21,28)
for elemento in tupla:
    time.sleep(2)
    if elemento % 2 ==0:
      print(elemento)

10
34
76
28

## Problema

 - Precisamos criar uma lista começando do 1 e indo até o 30. 
 -  Precisamos criar uma lista numérica começando do 0 e indo até 1000 porém apenas com valores que sejam pares.
 - Precisamos criar uma lista decrescente de 10 a 1.


#### Como poderíamos fazer isso sem criar a lista manualmente?


 <center><img src="https://dicasdamaia.files.wordpress.com/2017/12/duvida.png?w=190"><center>

## Range

- Consiste em uma forma prática de se escrever uma lista em ordem crescente ou decrescente, o até mesmo, considerando intervalos de valores.


```
range(valor_inicial=0, valor_final, step)
```

- Vamos gerar uma lista por meio do range de valores inteiros de 1 a 10

In [ ]:
range_1 = range(1,30)
print('A quantidade de elementos gerado é: ', len(range_1))
print(list(range_1))

A quantidade de elementos gerado é:  29
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

- Mas ele gerou de 1 a 29, o que pode ter acontecido?

  - Isso tem a ver com  a questão da indexação, como a indexação começa no zero o ultimo elemento sempre é um stop e não pertence ás nossa sequências.

In [ ]:
range_1 = range(1,31)
print(list(range_1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

- Vamos gerar uma lista por meio do range de valores inteiros de 0 a 1001, mas com passo 2.

In [ ]:
range_2 = range(0,1001,2)
print('Elementos gerados: ',list(range_2))

Elementos gerados:  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998, 1000]

- Vamos gerar uma lista decescente de 10 a 1 com passo -1.

In [ ]:
range_3 = range(10,0,-1)
print(list(range_3))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## Problema

A organização de uma maratona aquática não foi muito eficiente e eles acabaram salvando cada uma das informações dos competidores em em conjuntos de dados separados. Uma lista só com os nomes, uma lista só com as idades, uma lista só com o telefone, etc. Pelo menos as posições de cada umas das informações nas diferentes listas corresponde. 

<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Turmas/2021.3/Imagens/maratona_aquatica.PNG?raw=true" width=450><center>


A organização precisa realizar algumas tarefas com essas informações contidas nessas listas, são elas:
- Gerar um número de identificação para imprimir na toca de cada participante, para isso podem gerar os números de acordo com a ordem presente na lista.
- Conferir algumas informações de participantes específicos, como por exemplo o  João, para isso precisam da informação do telefone dessas alunos. 

#### Como poderíamosserá que poderíamos fazer isso?


 <img src="https://dicasdamaia.files.wordpress.com/2017/12/duvida.png?w=190">

## Enumerate x Zip

<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Turmas/2021.3/Imagens/enumerate_zip.PNG?raw=true"><center>

### Enumerate

A função <code>enumerate()</code> retorna um objeto iterável, geralmente utilizado dentro de estruturas de repetição <code>for</code>. Ele permite que simultâneamente acessemos as informações do index e do valor dos elementos de tipos de dados como listas, tuplas, vetores, etc.

Por exemplo, vamos criar uma lista e aplicar a função enumerate nela:

In [ ]:
nomes = ['Julia', 'Amanda', 'João', 'Flavia','Matheus','Carlos']

In [ ]:
enumerate(nomes)

- Reparem que a função retornou algo estranho...

- Na verdade a função retornou um objeto iterável, caso eu queira vizualizar, posso tranformar esse objeto em uma lista ou tupla por exemplo.

In [ ]:
list(enumerate(nomes))

[(0, 'Julia'),
 (1, 'Amanda'),
 (2, 'João'),
 (3, 'Flavia'),
 (4, 'Matheus'),
 (5, 'Carlos')]

- Reparem que ele gerou uma lista de tuplas, onde cada tupla tem o número (index) e o valor de cada elemento da nossa lista de nomes.

- Ainda podemos definir um index de inicio diferente para a nossa função enumerate.

In [ ]:
list(enumerate(nomes, start=1))

[(1, 'Julia'),
 (2, 'Amanda'),
 (3, 'João'),
 (4, 'Flavia'),
 (5, 'Matheus'),
 (6, 'Carlos')]

Vamos aplicar esse conceito do enumerate para o problema de gerar os números para as tocas dos participantes, utilizando uma estrutura de repetição:


**Observação importante**

In [ ]:
## Podemos atribuir os valores de uma tupla da seguinte forma 
index, valor = (1, 'Julia')
print(index)
print(valor)

1
Julia

Vamos gerar os valores para cada um dos participantes então, começando do zero.

Vamos também padronizar os números no seguinte formato



|Número|Código da competição|
|:---:|:---:|
|1|0001|
|2|0002|
|3|0003|
|4|0004|

In [ ]:
nomes = ['Julia', 'Amanda', 'João', 'Flavia','Matheus','Carlos']

for numero, nome in enumerate(nomes,start=1):
  numero_str = str(numero)
  if len(numero_str) != 4:
    cod = '0'*(4-len(numero_str)) + numero_str
    print(f'{nome} - {cod}')
    continue
  print(f'{nome} - {numero}')

Julia - 0001
Amanda - 0002
João - 0003
Flavia - 0004
Matheus - 0005
Carlos - 0006

## Zip

O método <code>zip()</code> do Python pega  um conjunto de elementos ou iteráveis ​​e retorna um único objeto iterador, tendo valores mapeados de todos os conjuntos introduzidos no **zip**. 

Ele é usado para mapear o índice semelhante de vários contêineres para que eles possam ser usados ​​usando apenas uma única entidade. 

**Vamos entender melhor o que é esse zip voltando para o nosso problema dos participantes da maratona...**

<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Turmas/2021.3/Imagens/maratona_aquatica.PNG?raw=true" width=450><center>

In [ ]:
nomes = ['Julia', 'Amanda', 'João', 'Flavia','Matheus','Carlos']
idades = [25, 33, 45, 32, 26, 18]
telefones = ['99365-5487','98652-3654','97939-1821','97225-9988','96512-8155','95799-6322']

- Vamos zipar todas essa listas em um unico objeto iterador

In [ ]:
zip(nomes,idades, telefones)

- Reparem que, assim como no enumerate a função retornou algo estranho...

- Na verdade a função retornou um objeto zip iterável, caso eu queira vizualizar, podemos tranformar esse objeto em uma lista ou tupla por exemplo.

In [ ]:
list(zip(nomes,idades, telefones))

[('Julia', 25, '99365-5487'),
 ('Amanda', 33, '98652-3654'),
 ('João', 45, '97939-1821'),
 ('Flavia', 32, '97225-9988'),
 ('Matheus', 26, '96512-8155'),
 ('Carlos', 18, '95799-6322')]

- Reparem no que ele mostrou como resultado, uma tupla contendo as informações correspondentes de cada uma das listas separadamente juntas, então se eu quizesse pegar todas as informações da Amanda, poderiamos selecionar o elemento de index 1 dessa lista criada. Podemos ver esse exemplo abaixo:

In [ ]:
print(list(zip(nomes,idades, telefones))[1])

('Amanda', 33, '98652-3654')

**Visto isso, como poderiamos através do zip pegar as informações do João para ligar para ele e conferir as informações:**

 <center><img src="https://dicasdamaia.files.wordpress.com/2017/12/duvida.png?w=190"><center>

In [ ]:
nomes = ['Julia', 'Amanda', 'João', 'Flavia','Matheus','Carlos']
idades = [25, 33, 45, 32, 26, 18]
telefones = ['99365-5487','98652-3654','97939-1821','97225-9988','96512-8155','95799-6322']

for nome, idade, telefone in zip(nomes,idades, telefones):
  if nome == "João":
    print(f'Nome: {nome}\nIdade: {idade} anos\nTelefone: {telefone}')

Nome: João
Idade: 45 anos
Telefone: 97939-1821

**Poderiamos resolver esse mesmo problema com a função** <code>enumerate()</code> ?

In [ ]:
nomes = ['Julia', 'Amanda', 'João', 'Flavia','Matheus','Carlos']
idades = [25, 33, 45, 32, 26, 18]
telefones = ['99365-5487','98652-3654','97939-1821','97225-9988','96512-8155','95799-6322']

for index, nome in enumerate(nomes):
  if nome == 'João':
    idade = idades[index]
    telefone = telefones[index]
    print(f'Nome: {nome}\nIdade: {idade} anos\nTelefone: {telefone}')

Nome: João
Idade: 45 anos
Telefone: 97939-1821

## While

- O bloco de repetição <code>while</code> normalmente é utilizado quando temos número **variável** de repetições, ou seja, não sabemos ao certo quantas vezes o bloco de comandos determinado deve ser executado. Para determinar a continuação ou não continuação da repetição é utilizado um teste de condição válido para cada caso (de acordo com a lógica do problema):


<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Turmas/2021.3/Imagens/while.JPG?raw=true" width=900><center>

#### Vamos pensar em um exemplo prático de repetição em que não temos um número definido de vezes que vamos ter que repetir o procedimento

- Fábrica de automóveis:


<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Turmas/2021.3/Imagens/cadeia_produtiva_fabrica.png?raw=true" width=500>

- Para construir um carro, uma fabrica precisa de 50 parafusos **não defeituosos**, e para isso eles colocam um funcionário para realizar a verificação de cada parafuso para que não haja problema na linha de montagem. 
  - O funcionário separa grupos de parafusos para cada automóvel seguindo o seguinte procedimento:

```
1. Pega a caixa de peças do carro x
2. Pega um parafuso
3. Verifica se o parafuso é defeituoso
  3.1. Se for defeituoso joga na caixa de peças defeituosas
  3.2. Se não for defeituoso joga na caixa de peças para o carro x 
4. Verifica se existem 50 parafusos, caso contrário volta ao passo 2
5. Quando chega a 50 parafusos, passa a caixa de peças para a sequência da linha de produção. 
```
### Algumas perguntinhas
- Quantos parafusos o funcionário verificou para completar a quantidade de parafusos necessários para o carro x?
- Qual foi a condição para ele parar de verificar parafusos defeituosos para o carro x?

<center><img src="https://dicasdamaia.files.wordpress.com/2017/12/duvida.png?w=190">

Vamos, agora, ver um exemplo bem direto sobre o uso do loop **while**: 

Considere que você tem um dado de jogo e foi desafiado a gerar 6 vezes o número 6 do dado, quantas rodadas serão necessárias para isso?

Antes de programarmos a solução, vamos montar o algoritmo desse problema:

```
1. Crie uma variável chamada acerto que recebe o número zero, ela irá ser atualizada em 1 unidade toda vez que o número 6 for sorteado
2. Sorteie um número inteiro entre 1 e 6
3. O número sorteado é igual a 6?
  3.1. Se sim, acerto é acrescido de 1 unidade
  3.2. Se não, não faça nada
4. acerto é igual a 6? 
  4.1. Se sim, fim do jogo
  4.2. Se não, retorne ao passo 2
```

Para realizarmos o passo 2 do algoritmo, precisamos fazer a importação de uma biblioteca para podermos utilizar uma função que sorteia números inteiros dentro de um intervalo. 

Essa biblioteca se chama [**random**](https://docs.python.org/3/library/random.html) e a função que iremos utilizar é **randint**.

Também iremos utilizar a função <code>sleep()</code> da bibliotec **time**

In [ ]:
import random
import time

In [ ]:
acerto = 0
while acerto < 6:
  num = random.randint(1,6)
  print(num)
  if num == 6:
    acerto += 1
  time.sleep(1) 

print('Quantidade de acertos ',acerto)

6
2
2
2
2
4
5
1
4
6
3
3
6
5
6
6
1
4
4
3
2
2
6
Quantidade de acertos  6

Agora, se quisermos saber quantas tentativas erradas foram feitas, como adaptamos o código anterior?

Podemos criar outra variável que contabiliza o número de vezes que o dado sorteou um valor diferente de 6. Essa contabilização deve ser feita dentro do *else*.

In [ ]:
acerto = 0
erro = 0
while acerto < 6:
  num = random.randint(1,6)
  print(num)
  if num == 6:
    acerto += 1 
  else:
    erro += 1
  time.sleep(1)
   
print(f'\nO dado sorteou {acerto} vezes o número 6 e sorteou {erro} vezes os outros números.')

3
2
2
6
4
2
4
5
4
1
2
1
4
2
2
4
1
6
5
6
3
1
6
3
4
2
6
3
6

O dado sorteou 6 vezes o número 6 e sorteou 23 vezes os outros números.

Ao usarmos o **while** podemos fazer uso de comandos muito úteis, que são eles:

- break
- continue 
- pass

Vamos, conhecer cada um em detalhes.

### break & continue

O *break* e o *continue* muitas vezes são confundidos entre si, porém eles executam ações bem diferentes. A figura a seguir exemplifica o que cada um deles faz.

<center><img src="https://github.com/jupotratz/Python_BI_Master/blob/main/Turmas/2021.3/Imagens/breakcontinue.png?raw=true" width=300>

- O *break* termina imediatamente um loop por completo. A execução do programa prossegue para a primeira instrução após o corpo do loop.

- O *continue* termina imediatamente a iteração do loop atual. A execução salta para o início do loop e a expressão de controle é reavaliada para determinar se o loop será executado novamente ou será encerrado.

Vamos voltar ao nosso código anterior e adaptá-lo para interromper o loop se o dado sortear o valor 3:

In [ ]:
acerto = 0
erro = 0
while acerto < 6:
  num = random.randint(1,6)
  print(num)
  if num == 6:
    acerto += 1 
  else:
    if num == 3:
      print('Execução do loop interrompida')
      break
    erro += 1
  time.sleep(1) 
print(f'O dado sorteou {acerto} vezes o número 6 e sorteou {erro} vezes os outros números.')

5
2
5
6
1
6
2
5
4
6
1
2
6
4
5
5
3
Execução do loop interrompida
O dado sorteou 4 vezes o número 6 e sorteou 12 vezes os outros números.

Vamos ver outro exemplo de loop usando o comando *continue*:

In [ ]:
n = 5
print(n)
while n > 0:
  n -= 1
  if n == 2:
    continue
  print(n)
  time.sleep(1) 
print('Loop terminou')

5
4
3
1
0
Loop terminou

Reparem que na hora que n foi igual a 2, o número 2 não foi impresso na tela, isso porque o Python ao ler o continue retornou a linha do while e não chegou a ler o comando print abaixo.

### pass

Vamos entender agora, para que serve a declaração *pass*. 

Quando uma condição externa é acionada, a instrução *pass* permite lidar com a condição sem que o loop seja impactado; todo o código continuará sendo lido a menos que um break ou outra instrução ocorra.

Assim como ocorre com outras instruções, a instrução pass ficará dentro do bloco de código abaixo da instrução de loop, normalmente após uma instrução condicional if.

## Exemplo:

Para exemplificar vou utilizar duas novas funções reservadas utilizadas para tratar problemas que podem acontecer durante a execução do código:


```
try:
  comandos...
except:
  comandos...
```

- Vamos criar uma lista com valores numéricos, percorrer essa lista usando o <code>while</code> e criar uma lista de zeros do tamanho desses numeros dessa lista:

**Obs:** irei colocar um valor reail na lista de propósito.

In [ ]:
lista = [5, 12, 6.7, 3, 0, 19, 2]

- como criar uma lista com 5 zeros

In [ ]:
[0]*5

[0, 0, 0, 0, 0]

- vamos ver como percorrer os valores de uma lista usando o <code>while</code>

In [ ]:
qnt_elem_lista = len(lista)
cont = 0

while cont < qnt_elem_lista:
  lista_zeros =  lista[cont]*[0]
  print(lista_zeros)

  # Variável de controle tem que ser alterada dentro do loop
  cont += 1

[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

TypeError: ignored

- Reparem no erro que aconteceu, alguem tem alguma ideia do que pode ter acontecido?

<center><img src="https://dicasdamaia.files.wordpress.com/2017/12/duvida.png?w=150">

- Vamos usar o <code>try</code> + <code>except</code> + <code>pass</code> para resolver isso.

In [ ]:
qnt_elem_lista = len(lista)
cont = 0

while cont < qnt_elem_lista:
  
  
  try:
    lista_zeros =  lista[cont]*[0]
    print(lista_zeros)
  except:
    pass
  # Variável de controle tem que ser alterada dentro do loop
  cont += 1

[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0]
[]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0]

- Reparem o tamanho da lista que tinhamos e quantas listas de zero foram exibidas na tela.

In [ ]:

len(lista)

7

A instrução *pass* que ocorre após a instrução condicional if está dizendo ao programa para continuar executando o loop e ignorar o fato de que a variável n é avaliada como equivalente a 2 durante uma das iterações.

Ao usar a instrução pass neste programa, notamos que o programa é executado exatamente como seria se não houvesse nenhuma instrução condicional no programa. A instrução pass diz ao programa para desconsiderar essa condição e continuar executando o programa como sempre.

### Vamos fazer?

- Programe um código que execute um loop enquanto a soma de todos elementos de uma lista for menor do que 50. No início do programa, essa lista deve ser declarada como lista vazia e ela só pode conter elementos inteiros.
Use a função *random.randint* para gerar elementos da lista, mas essa função só pode gerar números de 0 a 5.

- Adapte o código gerado considerando que toda vez que o número 3 for sorteado ele não pode ser adicionado à lista.

- Além da adaptação anterior, interrompa o código se forem adicionados à lista a sequência de números 1,2.

- Retornando ao problema apresentado no início do talk, vocês conseguem resolvê-lo?